/* ----- */
/* LOGIN */
/* ----- */
body #website_sale_login_info {
    display: none;
}

/* Responsive */
@media (max-width: 480px) {
    .price_donate, #description_sale {
        padding: 0 0 !important;
    }
    .btn {
        white-space: normal;
    }
}
/* FIxED for STANDARD */
.payment_interval_ids {
    text-align: center;
}
.ppt_opc .payment_interval_ids small.text-muted {
    font-size: 16px;
}
#wsd-checkout-box .payment_interval_ids small.text-muted {
    font-size: 16px;
}

#aq2 > div:nth-child(6) {
    display: none;
}
#payment_method.wsd_opc_payment > div:nth-child(2) > div {
    height: auto !important;
}

/* Mobile Resets Donation Forms */
@media (max-width: 414px) {
    body #website_sale_donate #product_detail h3.h3-os,
    body #website_sale_donate #product_detail p.h4-os {
        font-size: 16px;
    }
    #wrap > div > div.row.wsd_checkout_pages_snippets_top > div > div > img {
        width: 100%;
    }
    #product_desc_short > section > div.container {
        text-align: center;
    }
}



/* Checkout Page neu ENDE */
/* Iframe Modal Box behavior */

/* Modal Box Behavior When alt Tags image Modul is installed, save button moves out of screen */
.modal-dialog.select-media .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
/* IFRAME MODAL BOX BEHAVIOR BEGIN */

#wsd_checkout_form .form-group {
        position: relative !important;
}
.modal-open .modal {
        overflow: visible !important;
}
.modal {
    position: absolute !important;
}

#oe_main_menu_navbar div.modal.in > div.modal-dialog > div.modal-content {
    position: relative;
}

/* ----------------------------- */
/* PRODUCT PAGE AND CHECKOUT BOX */
/* ----------------------------- */

/* Center the Amount Title */
body #product_detail .amount_title {
    text-align: center;
}

/* Reset the price donate input */
body .price_donate .form-control {
    font-size: 24px;
    padding: inherit;
    color: inherit;
    text-align: inherit;
}

/* Add some space between donation buttons and input on small layout */
span.price_donate_suggested_outer {
    display: inline-block;
     margin-bottom: 12px;
}

/* Lower the checkoutbox to match the content on the left side */
body #wsd-checkout-box {
    margin-top: 16px;
}

/* Add some space between the text and the interval selection */
.payment_interval_ids div.form-group{
    margin-top: 12px;
}


/* ---- */
/* CART */
/* ---- */
.fa-shopping-cart:before {
    /*content: "\f06c";*/
    content: "\f184";
}
h3.small_cart_header a {
    color: #333333;
}
.oe_website_sale .oe_cart #right_column {
    display: inline-block;
}

/* Order Total */
#order_total h3 {
    font-size: 18px;
}


/* --------------- */
/* STEPS INDICATOR */
/* --------------- */

/* Full width and Buttons below */
ul.checkout_steps_indicator {
    width: 100%;
}
div.checkout_steps_buttons {
    width: 100%;
    text-align: right;
    margin-top: 1em;
}

/* Hide the login Button TODO: I think there is a setting for this in the backend? */
#wsd_checkout_steps_nav a[href*="login"] {
    display: none;
}

/* TEMP Workaround spendenprodukt Produkt Seite Bild auf 100% in Mobile Skalieren
da transform genutzt wurde und daher anscheinend im DOM Elemente verloren gegangen sind TODO: bitte template check auf noupdate
und Update des richtigen Moduls danach */
#product_desc_short_top img {
    width: fit-content;
}

@media (min-width: 300px) {
    #product_desc_short_top img {
        width: 100%;
    }
    #website_sale_donate > div > div.row.ppt_opc-top > div > div:nth-child(2) > div {
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* -------- */
/* CHECKOUT */
/* -------- */
#wsd_checkout_form label.control-label.mandatory.text-danger {
    color: #c30000;
}
#wsd_checkout_form label.control-label.mandatory.text-danger:after {
    content: " *";
}


/* ONE PAGE CHECKOUT */
/* ----------------- */
/* Hide delivery section TODO: Should be done by xml */
.row .wsd_opc_delivery {
    display: none;
}
.ppt_opc #wsd-checkout-box img.product-image {
    width: 200px;
}
#wsd-checkout-box .text-center.ppt_opc_cb_inner > h1 {
    font-size: 26px;
}
.ppt_opc h3.amount_title {
    text-align: center;
}

#wsd_checkout_form .form-control-feedback {
    top: 25px;
}

/* ------- */
/* PAYMENT */
/* ------- */
#payment_method .acquirer_pre_msg p {
    padding: 8px;
}

/* BIC ausblenden TODO: Must be done by xml! */
#aq4 > div:nth-child(6) {
    display: none;
}

/* E-Mail billing_address email ausblenden TODO: maybe not needed if renamed to "Ihre Angaben" */
.wsd_payment_page_content .payment_billing_address .billing_address .email {
    display: none;
}

/* Hide Checkbox for Zahlschein payment method */
#payment_method .do_not_send_payment_forms {
    display: none;
}

/* Payment Tabs */
/* ------------ */
#wsd_checkout_form .tab-acquirer-image img,
#wsd_checkout_form .tab-acquirer-image img.img.img-responsive.media-object {
    max-height: 1.4em;
}

#payment_method .nav > li > a {
    padding: 5px 5px;
}
#payment_method .nav.nav-tabs li.active a {
    background-color: #f8f8f8;
    color: grey;
}
#payment_method .nav.nav-tabs li.active a:hover {
    background-color: #f8f8f8;
}
#payment_method .nav > li {
    /*min-width: 100px;*/
}
#payment_method .nav > li > a {
    padding: 5px 5px;
    text-align: center;
}
#payment_method .nav > li > a img {
    margin: 0 auto;
    width: 60px;
    height: 43px;
}
#payment_method .nav-tabs > li.active > a,
#payment_method .nav-tabs > li.active > a:hover,
#payment_method .nav-tabs > li.active > a:focus,
#payment_method .nav-tabs > li.active > a:active {
    color: grey;
}


/* ---------------- */
/* ACQUIRER BUTTONS */
/* ---------------- */

/*[data-name='ogonedadi-submit-button'],*/
/*[data-name='frst-submit-button'] {*/
/*    max-width: 100%;*/
/*}*/
